# This file contains the environment variables for the project.

# Database configuration
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=

# Django configuration
SECRET_KEY=
DEBUG=

# Email configuration
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=postmaster@sandboxf1f0b5d71e984c008eb4c1b9363536ab.mailgun.org
EMAIL_HOST_PASSWORD=

