<!-- password_reset_complete.html -->
{% extends 'base.html' %}

{% block content %}
<div class="main-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <div class="user-dashboard loader-holder shadow p-4 rounded bg-white" style="width: 450px; min-height: auto;">
                    <div class="user-holder text-center">
                        <h4 class="mb-3 font-weight-bold">PASSWORD RESET SUCCESSFUL</h4>
                        <p>Your password has been successfully reset. You can now log in with your new password.</p>
                        <hr>
                        <p class="text-center"><a href="{% url 'login_view' %}">Go to Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}