<!-- password_reset.html -->
{% extends 'base.html' %}

{% block content %}
<div class="main-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
                <div class="user-dashboard loader-holder shadow p-4 rounded bg-white" style="width: 450px; min-height: auto;">
                    <div class="user-holder text-center">
                        <h4 class="mb-3 font-weight-bold">RESET PASSWORD</h4>
                        <p>Enter your email to receive a password reset link.</p>
                        <hr>
                        {% include 'includes/alerts.html' %}
                        
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Send Reset Link</button>
                            </div>
                        </form>
                        <p class="text-center"><a href="{% url 'login_view' %}">Back to Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}